*{
    box-sizing: border-box;
}
body{
    background-image: url("icons/wallpaper.png");
    background-attachment: fixed;
}
#black_background{
    background-color: rgba(0,0,0,0.4);
    margin-left: 15%;
    margin-right: 15%;
    opacity: 0,5;
}
header{
    display: flex;
    flex-wrap: wrap;
    height: 2%;
}
#just_strem_it{
    margin-top: 10px;
}
h1, h2{
    color: #990101;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    width: 100%;
}
h5{
    text-align: center;
    width: 100%;
}
h3, h4, h5{
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}
p{
    font-family: 'Roboto', sans-serif;
    color: white;
}
#best_movie_img_container{
    width: 50%;
    height: 300px;
    position: relative;
    align-items: flex-end;
  }
.best_movie_img{
    max-width: 100%;
    height: auto;
    float: right;
    transition: transform .2s;
    margin: 0 auto;
    cursor: pointer;
    padding-right: 10px;
  }
#best_movie_infos{
    padding-left: 10px;
    width: 50%;
    padding-right: 5%;
}
button{
    background-repeat: no-repeat;
    width: 4%;
    height: 50px;
    border: none;
    transition: transform .2s;
    cursor: pointer;
}
button:hover{
    transform: scale(1.2);
}
#best_movie{
    display: flex;
    flex-wrap: wrap;
}
.carousel{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.carousel_images{
    display: flex;
    align-items: center;
}
.carousel_square{
    width: 24%;
}
.movie_cover{
    transition: transform .2s;
    width: 90%;
    margin-left: 10%;
    margin-right: 10%;
    cursor: pointer;
}
.movie_cover:hover,
.best_movie_img:hover{
    transform: scale(1.2);
}
.left_arrows,
.right_arrows{
    margin: 3px;
}
.left_arrows{
    background: url('icons/left_arrow.png');
    background-repeat: no-repeat;
}
.right_arrows{
    background: url('icons/right_arrow.png');
    background-repeat: no-repeat;
}
#modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0,0,0,0.4);
}
#modal_content{
    background-color: rgba(44, 44, 44, 0.808);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 50px;
}
#close{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
#modal_pic{
    float: right;
}
#close:hover,
#close:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}